<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Un flux prive configure au niveau de la machine peut demander une authentification et faire echouer
         la restauration. Cette solution n'a besoin que de nuget.org : on repart d'une liste vide. -->
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
